# Ignore all files
*
/d/gmi/1/karimmithani/seeg/analysis/gonogo/scripts/

# Do not ignore the .gitignore file itself
!.gitignore

# Allow the specific folders and their contents
!models/
!models/cnn/
!models/cnn/scripts/
!models/cnn/scripts/**
!models/logisticregression/
!models/logisticregression/scripts/
!models/logisticregression/scripts/**
!models/svm/
!models/svm/scripts/
!models/svm/scripts/**
!models/randomforest/
!models/randomforest/scripts/
!models/randomforest/scripts/**
!models/ml_model_performance.xlsx
!models/aggregate_aucs.py
