# Ignore all files
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore directories, their content will be controlled later
!*/

# Allow the specific folders and their contents
!models/
!models/cnn/
!models/logisticregression/
